<settings>
	<!-- URL of the icecast server o monitor -->
  <server-url>http://162.243.92.85:8000</server-url>
	<!-- milliseconds between reads -->
	<rate>250</rate>
	<!-- miliiseconds of offset to allow before counting a skip -->
  <offset>50</offset>
	<!-- range of skip monitor in milliseconds -->
	<range>3000</range>
	<!-- max skips before restart -->
	<skip-limit>3</skip-limit>
	<!-- resets before fallback -->
	<resets>-1</resets>
	<!-- playlist file to fallback on after resets are exhausted -->
	<fallback>glr.pls</fallback>
</settings>
